@{
  Layout = "_Layout";
}

@model University.Models.Student

<h4>Add a new student</h4>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name)</p>
  <p>@Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.DateOfEnrollment)</p>
  <p>@Html.TextBoxFor(model => model.DateOfEnrollment, new{@type="date"})</p>

  <p>@Html.Label("Select course")</p>
  <p>@Html.DropDownList("CourseId")</p>

  <input type="submit" value="Add a new student" class="btn btn-success" />
}
<p>@Html.ActionLink("Display Students", "Index")</p>